---
import { Image } from "astro:assets";

import account from "./account.svg";
import bell from "./bell.svg";
import gear from "./gear.svg";
import location from "./location.svg";
import message from "./message.svg";
import person from "./person.svg";
import profile from "./profile.jpg";
import question from "./question.svg";
import right from "./right.svg";

import Bg from '~/components/bg.astro';
---

<Bg twBgColor="bg-gray-200">
   <div class="bg-white rounded-3xl w-80 space-y-4 shadow">
      <div class="p-5 pb-0 flex gap-5 items-center">
         <Image
            src={profile}
            alt="Profile"
            class="rounded-full h-20 w-20 shadow"
         />

         <div>
            <div class="text-2xl font-medium">Mittens</div>
            <div>Yarn expert</div>
         </div>
      </div>

      <hr class="mx-5 border-[3px] rounded-full" />

      <div class="px-3">
         <div
            class="hover:bg-gray-100 hover:bg-opacity-50 p-2 rounded-lg flex items-center justify-between cursor-pointer"
         >
            <div class="flex gap-3 items-center">
               <Image
                  src={account}
                  alt="Account"
                  class="bg-gray-300 bg-opacity-50 rounded-lg p-2 h-8 w-8"
               />

               <div class="font-semibold">Account</div>
            </div>

            <Image src={right} alt="Right" class="p-2 h-7 w-7" />
         </div>

         <div
            class="hover:bg-gray-100 hover:bg-opacity-50 p-2 rounded-lg flex items-center justify-between cursor-pointer"
         >
            <div class="flex gap-3 items-center">
               <Image
                  src={message}
                  alt="Message"
                  class="bg-gray-300 bg-opacity-50 rounded-lg p-2.5 h-8 w-8"
               />

               <div class="font-semibold">Messages</div>
            </div>

            <Image src={right} alt="Right" class="p-2 h-7 w-7" />
         </div>

         <div
            class="hover:bg-gray-100 hover:bg-opacity-50 p-2 rounded-lg flex items-center justify-between cursor-pointer"
         >
            <div class="flex gap-3 items-center">
               <Image
                  src={bell}
                  alt="Bell"
                  class="bg-gray-300 bg-opacity-50 rounded-lg p-2 h-8 w-8"
               />

               <div class="font-semibold">Notifications</div>
            </div>

            <Image src={right} alt="Right" class="p-2 h-7 w-7" />
         </div>

         <div
            class="hover:bg-gray-100 hover:bg-opacity-50 p-2 rounded-lg flex items-center justify-between cursor-pointer"
         >
            <div class="flex gap-3 items-center">
               <Image
                  src={location}
                  alt="Location"
                  class="bg-gray-300 bg-opacity-50 rounded-lg p-2 h-8 w-8"
               />

               <div class="font-semibold">Location</div>
            </div>

            <Image src={right} alt="Right" class="p-2 h-7 w-7" />
         </div>

         <div
            class="hover:bg-gray-100 hover:bg-opacity-50 p-2 rounded-lg flex items-center justify-between cursor-pointer"
         >
            <div class="flex gap-3 items-center">
               <Image
                  src={person}
                  alt="Person"
                  class="bg-gray-300 bg-opacity-50 rounded-lg p-2 h-8 w-8"
               />

               <div class="font-semibold">Community</div>
            </div>

            <Image src={right} alt="Right" class="p-2 h-7 w-7" />
         </div>
      </div>

      <hr class="mx-5 border-[3px] rounded-full" />

      <div class="p-3 pt-0">
         <div
            class="hover:bg-gray-100 hover:bg-opacity-50 p-2 rounded-lg flex items-center justify-between 10ursor-pointer"
         >
            <div class="flex gap-3 items-center">
               <Image
                  src={question}
                  alt="Question"
                  class="bg-gray-300 bg-opacity-50 rounded-lg p-2 h-8 w-8"
               />

               <div class="font-semibold">FAQs</div>
            </div>

            <Image src={right} alt="Right" class="p-2 h-7 w-7" />
         </div>

         <div
            class="hover:bg-gray-100 hover:bg-opacity-50 p-2 rounded-lg flex items-center justify-between cursor-pointer"
         >
            <div class="flex gap-3 items-center">
               <Image
                  src={gear}
                  alt="Gear"
                  class="bg-gray-300 bg-opacity-50 rounded-lg p-2 h-8 w-8"
               />

               <div class="font-semibold">Settings</div>
            </div>

            <Image src={right} alt="Right" class="p-2 h-7 w-7" />
         </div>
      </div>
   </div>
</Bg>
