---
import { Image } from "astro:assets";

import badge from "./badge.svg";
import clock from "./clock.svg";
import coffee from "./coffee.jpg";
import star from "./star.svg";
import wallet from "./wallet.svg";
---

<div class="bg-gray-200 bg-opacity-50 rounded-xl flex gap-5">
   <Image
      src={coffee}
      alt="Coffee"
      class="rounded-l-xl h-fit w-1/3 object-cover"
   />

   <div class="p-5 w-2/3 space-y-5">
      <div class="relative left-[-7rem] bg-white p-5 space-y-1">
         <div class="flex gap-1 items-center">
            <Image src={star} alt="Star" class="h-4 w-4" />
            <Image src={star} alt="Star" class="h-4 w-4" />
            <Image src={star} alt="Star" class="h-4 w-4" />
            <Image src={star} alt="Star" class="h-4 w-4" />
            <Image src={star} alt="Star" class="h-4 w-4" />

            <div class="text-xs font-medium">(200) reviews</div>
         </div>

         <h2 class="text-2xl font-bold">Salted caramel iced coffee</h2>
      </div>

      <div class="flex gap-8 text-sm font-medium">
         <div class="flex gap-3 items-center">
            <Image src={clock} alt="Clock" class="h-7 w-7" />

            <div>
               <div>Time</div>

               <div class="text-amber-500">10min</div>
            </div>
         </div>

         <div class="flex gap-3 items-center">
            <Image src={badge} alt="Badge" class="h-7 w-7" />

            <div>
               <div>Level</div>

               <div class="text-amber-500">Easy</div>
            </div>
         </div>

         <div class="flex gap-3 items-center">
            <Image src={wallet} alt="Wallet" class="h-7 w-7" />

            <div>
               <div>Cost</div>

               <div class="text-amber-500">Under 5€</div>
            </div>
         </div>
      </div>

      <div class="text-sm font-medium">
         <div class="text-amber-500 font-bold uppercase">Ingredients</div>

         <ul class="pl-5 list-disc">
            <li>Ice</li>
            <li>Coffee</li>
            <li>Salted caramel chocolate</li>
            <li>Caramel syrup</li>
            <li>Whipping cream</li>
            <li>Powdered sugar</li>
         </ul>
      </div>

      <div class="text-sm font-medium">
         <div class="text-amber-500 font-bold uppercase">Instructions</div>

         <ol class="pl-5 list-decimal">
            <li>Add the ice cubes to the coffee</li>
            <li>Mix the salted caramel chocolate and the caramel syrup</li>
            <li>
               Top with whipping and powdered sugar and extra caramel syrup
            </li>
            <li>Serve</li>
         </ol>
      </div>
   </div>
</div>
