---
import type { GetStaticPaths } from "astro";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

import Base from "~/layouts/base.astro";

import dev from "~/assets/dev.svg";
import github from "~/assets/github.svg";

import type { Component as ComponentType } from "~/content/config";

export const getStaticPaths: GetStaticPaths = async () => {
   const componentsCollection = await getCollection("data");

   return componentsCollection.map((componentEntry) => ({
      params: {
         componentId: componentEntry.id,
      },
      props: {
         id: componentEntry.id,
         component: componentEntry.data,
      },
   }));
};

type Props = {
   id: string;
   component: ComponentType;
};

const { id, component } = Astro.props;

const Component = (await import(`../content/components/${id}/index.astro`))
   .default;
---

<Base styles="space-y-2">
   <div class="flex gap-3 items-baseline">
      <h1 class="h1">{component.title}</h1>

      <a href={component.article}>
         <Image src={dev} alt="Dev.to" class="h-7 w-7" />
      </a>

      <a href={component.code}>
         <Image src={github} alt="Dev.to" class="h-7 w-7" />
      </a>
   </div>

   <div class="flex flex-col md:flex-row gap-5 items-start">
      <div class="w-full md:w-1/2 space-y-5">
         <h2 class="h2 text-center">Inspo</h2>

         <Image
            src={component.inspo}
            alt="Inspo"
            inferSize={true}
            class="rounded-xl"
         />
      </div>

      <div class="w-full md:w-1/2 space-y-5">
         <h2 class="h2 text-center">My component</h2>

         <div
            class="h-full w-full flex flex-col gap-5 items-center justify-center"
         >
            <Component />
         </div>
      </div>
   </div>
</Base>
