---
import { getCollection } from "astro:content";

import Base from "~/layouts/base.astro";

import Github from "~/components/github.astro";

const componentsCollection = await getCollection("components");
---

<Base styles="pt-16 flex flex-col space-y-10">
   <header class="flex flex-col gap-5 items-center">
      <h1 class="text-primary text-6xl md:text-7xl text-center font-semibold">
         100 frontend challenge
      </h1>

      <Github />
   </header>

   <div class="flex flex-col items-center">
      <div>Challenges {componentsCollection.length} / 100</div>

      <meter
         max="100"
         value={componentsCollection.length}
         class="h-12 w-[25rem]"></meter>
   </div>

   <main class="flex flex-wrap gap-10 justify-center">
      {
         componentsCollection.map(async (componentEntry) => {
            const Component = (
               await import(`../components/${componentEntry.id}/index.astro`)
            ).default;

            return (
               <a
                  href={`./${componentEntry.id}`}
                  class="border hover:border-gray-300 rounded-xl pt-2 h-96 w-80 flex flex-col gap-5 items-center shadow"
               >
                  <div class="text-xl text-center">{componentEntry.data.title}</div>
                  
                  <div>
                     <Component />
                  </div>
               </a>
            );
         })
      }
   </main>

   <style>
      meter::-webkit-meter-optimum-value {
         @apply bg-accent;
      }
   </style>
</Base>
