---
import { getCollection } from "astro:content";

import Base from "~/layouts/base.astro";

const componentsCollection = await getCollection("data");
---

<Base styles="flex flex-col space-y-5">
   <h1 class="text-primary text-6xl md:text-7xl text-center font-semibold">
      100FrontendChallenge
   </h1>

   <div class="text-center">
      <a
         href="https://dev.to/bigsondev/100-free-frontend-challenges-3f0"
         class="link">Challenge's inspo</a
      >
   </div>

   <div class="space-y-5">
      <h2 class="h2 text-center">Challenges</h2>

      <div class="card px-3 py-2 m-auto w-fit flex flex-col items-center">
         <div>{componentsCollection.length} / 100</div>

         <meter
            max="100"
            value={componentsCollection.length}
            class="h-10 w-[25rem]"></meter>
      </div>

      <div class="flex flex-wrap gap-10 justify-center">
         {
            componentsCollection.map(async (componentEntry) => {
               const Component = (
                  await import(
                     `../content/components/${componentEntry.id}/index.astro`
                  )
               ).default;

               return (
                  <a
                     href={`./${componentEntry.id}`}
                     class="card-btn p-3 h-96 w-80 flex flex-col items-center"
                  >
                     <div class="text-xl text-center">
                        {componentEntry.data.title}
                     </div>

                     <div class="relative top-[-3rem] scale-75">
                        <Component />
                     </div>
                  </a>
               );
            })
         }
      </div>
   </div>

   <style>
      meter::-webkit-meter-optimum-value {
         @apply bg-accent;
      }
   </style>
</Base>
