---
import uis from "~/content/uis.json";

import Base from "~/layouts/base.astro";
---

<Base styles="flex flex-col space-y-5">
   <div class="text-primary text-center">
      <h1 class="text-6xl md:text-7xl font-semibold">100FrontendChallenge</h1>

      <div>100 UIs one per day</div>
   </div>

   <div class="space-y-5">
      <h2 class="h2 text-center">Challenges</h2>

      <div class="card px-3 py-2 m-auto w-fit flex flex-col items-center">
         <div class="font-semibold">{uis.length} / 100</div>

         <meter
            max="100"
            value={uis.length}
            class="h-10 w-[25rem]"></meter>
      </div>

      <div class="flex flex-wrap gap-5 justify-center">
         {
            uis.map(async (uiEntry) => {
               const Component = (
                  await import(
                     `./${uiEntry.id}/component.astro`
                  )
               ).default;

               return (
                  <div class="card pt-3 w-full md:w-[49%] space-y-3">
                     <h3 class="h3 text-center">
                        <a href={`./${uiEntry.id}`} class="link">
                           {uiEntry.title}
                        </a>
                     </h3>

                     <Component />
                  </div>
               );
            })
         }
      </div>
   </div>

   <style lang="scss">
      meter::-webkit-meter-optimum-value {
         @apply bg-accent;
      }
   </style>
</Base>
