---
import { Image } from "astro:assets";

import "~/styles/index.scss";

import dev from "~/assets/dev.svg";
import github from "~/assets/github.svg";
import house from "~/assets/house.svg";

type Props = {
   styles?: string;
};

const { styles } = Astro.props;
---

<html lang="en">
   <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width" />

      <meta name="generator" content={Astro.generator} />

      <title>100FrontendChallenge</title>
      <meta name="description" content="100 UIs one per day" />

      <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
   </head>

   <body>
      <header
         class="card z-10 sticky top-0 inset-x-0 bg-white rounded-t-none p-4 flex gap-2 items-center justify-between"
      >
         <a href="/" class="flex gap-1 items-center">
            <Image src={house} alt="Home" class="h-8 w-8" />

            <div class="text-primary text-3xl font-semibold">
               100FrontendChallenge
            </div>
         </a>

         <div class="flex gap-2 items-center">
            <a href="https://dev.to/t1xx1/series/28235">
               <Image src={dev} alt="DEV.to" class="h-7 w-7" />
            </a>

            <a href="https://github.com/T1xx1/100frontendchallenge">
               <Image src={github} alt="GitHub" class="h-7 w-7" />
            </a>

            <a href="https://t1xx1.vercel.app">
               <Image
                  src="https://avatars.githubusercontent.com/u/69322987"
                  alt="Profile"
                  inferSize
                  class="rounded-full h-8 w-8"
               />
            </a>
         </div>
      </header>

      <main class=`px-3 py-7 ${styles}`>
         <slot />
      </main>
   </body>
</html>
