---
import { Image } from 'astro:assets';

import copy from "~/assets/copy.svg"
import dev from "~/assets/dev.svg"
import github from "~/assets/github.svg"

import Base from '~/layouts/base.astro';

import H2 from '~/components/h2.astro';
import H3 from '~/components/h3.astro';

type Props = {
   id: string;
   title: string;
   article: string;
   twPrimaryColor?: string;
   twPalette: string[];
};

const { id, title, article, twPrimaryColor = "", twPalette } = Astro.props;
---

<Base styles="space-y-3">
   <H2 styles={`text-center ${twPrimaryColor}`}>{title}</H2>

   <div class="flex flex-col md:flex-row gap-5">
      <!-- component -->
      <div class="h-fit w-full md:w-3/4 space-y-3">
         <H3 styles="text-center">My UI</H3>

         <slot />
      </div>

      <!-- right -->
      <div class="w-full md:w-1/3 space-y-7">
         <!-- info -->
         <div class="space-y-4">
            <H3 styles="text-center">Info</H3>

            <div class="flex gap-2 items-center">
               <a
                  href={`https://github.com/T1xx1/100frontendchallenge/tree/main/src/pages/${id}/component.astro`}
                  class="border-2 hover:border-gray-300 rounded-lg w-full flex gap-1 items-center"
               >
                  <Image src={github} alt="GitHub" class="p-2 h-10 w-10" />
      
                  <div>View code</div>
               </a>
      
               <a
                  href={article}
                  class="border-2 hover:border-gray-300 rounded-lg w-full flex gap-1 items-center"
               >
                  <Image src={dev} alt="Dev.to" class="p-2 h-10 w-10" />
      
                  <div>Read article</div>
               </a>
            </div>
         </div>

         <!-- colors -->
         <div class="space-y-4">
            <H3 styles="text-center">Colors palette</H3>

            <div class="flex flex-wrap gap-2.5 justify-center">
               {twPalette.map(twBgColor => (
                  <button type="button" class={`rounded-lg h-14 w-14 group ${twBgColor}`}> 
                     <Image src={copy} alt="Copy" class="hidden group-hover:block m-auto h-4 w-4" />
                  </button>
               ))}
            </div>
         </div>
      </div>
   </div>
</Base>
