---
import { Image } from "astro:assets";

import profile from "./profile.jpg";
import facebook from "./facebook.svg";
import instagram from "./instagram.svg";
import linkedin from "./linkedin.svg";
import twitter from "./twitter.svg";
import web from "./web.svg";
---

<div
   class="card bg-white rounded-3xl p-5 pt-7 w-80 flex flex-col gap-5 items-center"
>
   <Image src={profile} alt="Profile" class="rounded-full h-36 w-36" />

   <div class="text-center">
      <div class="text-2xl font-semibold">Whiskers Meowington</div>

      <div class="text-sm text-gray-500 font-mono">@whmeow</div>
   </div>

   <div class="flex gap-3">
      <Image src={facebook} alt="Facebook" class="cursor-pointer" />
      <Image src={instagram} alt="Instagram" class="cursor-pointer" />
      <Image src={twitter} alt="Twitter" class="cursor-pointer" />
      <Image src={linkedin} alt="Linkedin" class="cursor-pointer" />
      <Image src={web} alt="Web" class="cursor-pointer" />
   </div>

   <div class="text-sm text-center">
      Cat IT Engineer with a PhD, excels in coding and AI. Creator of MeowChat
      and PurrSecure, leading figure in feline tech.
   </div>

   <div class="w-full flex gap-4 justify-around">
      <button
         type="button"
         class="bg-pink-500 hover:bg-pink-400 rounded-full py-1.5 w-full text-white"
         >Follow</button
      >

      <button
         type="button"
         class="border border-gray-500 hover:border-gray-400 rounded-full py-1.5 w-full text-gray-500 hover:text-gray-400"
         >Message</button
      >
   </div>
</div>

<style>
   .card {
      background-image: url("./wave.svg");
      background-position: top;
      background-size: contain;
      background-repeat: no-repeat;
   }
</style>
